<div class='view_links'>
  <h1> BOOKMARKS </h1></br>
  <ul id='links'>
    <% @links.each do |link| %>
    <p>
      <li><strong>Title:</strong> <%= link.title  %> =>
        <strong>URL:</strong> <%= link.url %>

        <strong>Tag:</strong><% link.tags.each do |tag| %>
           <%= tag.name %>, <% end %>
      </li>
      </p>
      <% end %>
    </ul>
  </div>
