<form action='/sign_up_form' method="post">
  <label for="Email"> Email Address
  <input type='text' name="Email Address" size="80" placeholder="Enter email here">
</label> </br> </br>
  <label for="Password"> Password

  <input type='text' name="Password" size="80" placeholder="Enter title here"> </br> </br>
  <input type="submit" value="Sign Up">
  </label>
</form>
