<form method = 'post' action = '/sign_up'>
  <p>
    <input id='email' type='text' name='email'/>
  </p>
  <p>
    <input id='password' type='password' name='password'/>
  </p>
  <input id='submit' type='submit' value='Sign up!'/>
</form>
