
  <div class='view_tags'>
  <h1>Link that contain <%= @name %> </h1>
  <ul>
  <% @links.each do |link| %>
      <li><strong>Title:</strong> <%= link.title %> =>
      <strong>URL: </strong> <%= link.url %></li>
  <% end %>
</ul>
</div>
